{% extends "myproject/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<style>

</style>

<link rel="stylesheet" href="{% static 'css/home_index_style.css' %}">
  <body>
    <h1>About Me</h1>
    <p>
      I'm an aspiring Product Manager and a member of the MMM (MBA + MS Design Innovation) class of 2022
      at the Northwestern Kellogg School of Management. I have always loved science and technology, and
      knew I had found my field after my first CS class at Middlebury College. After receiving my
      Bachelor's in CS, I found a job at Cognex Corporation, just outside of Boston.
    </p>
    <p>
      At Cognex, I worked for a year in Technical Support and then another three years as a Software Engineer.
      Tech support gave me the opportunity to interface with Cognex's clients every day and understand customer perspectives,
      which is a skill that helped tremendously throughout my tenure at Cognex. I quickly moved into the Identification
      Products Business Unit as a Software Engineer on the Strategic Customer Projects (SCP) Team. There, I focused on writing
      firmware for our DataMan product lines, but also had some exposure to mobile apps and Windows applications. Our SCP teams
      dedicated themselves to creating custom features and solving especially urgent bugs for Cognex's most important customers.
      This required constantly moving fast and occasionally travelling to customer sites to debug problems in person. After
      about a year and a half, I became the Americas SCP Lead for our Mobile product line, and stayed in that role until
      I left in the summer of 2020.
    </p>
    <p>
      In my free time I love to read Fantasy and Sci-fi novels, play video games with friends, go snowboarding in the winter,
      hangout with my girlfriend Val, and visit different craft breweries wherever I am. 
    </p>
  </body>


</html>
{% endblock %}
