{% extends "myproject/base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'css/history_style.css' %}">
  </head>
  <body style ="padding-top: 70px">
    <h1>Spot Count Histogram</h1>
    <h3>Raffle: {{raffle.title}}</h3>

</html
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.chart text {
  font: 10px sans-serif;
  text-anchor: middle;
}

</style>
<svg class="chart"></svg>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script>

  var margin  = {left:30, right:80, top:30, bottom:50}
    width = 600 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
      .range([height, 100]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

  var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.json("{%url 'spotcounts' vpost_id=raffle.post_id%}", function(error, data){
    x.domain(data.map(function(d) { return d.num_spots; }));
    y.domain([0, d3.max(data, function(d) {return d.num_users;})]);

    var barWidth = width/data.length;

    /*var bar = chart.selectAll("g")
        .data(data)
      .enter().append("g")
        .attr("transform", function(d, i) { return "translate(" + i * barWidth + ",0)"; });// )" "translate(0," + i * barWidth + ")"; });

    bar.append("rect")
        .attr("y", function(d) { return y(d.num_users) ; })
        .attr("height", function(d) { return height - y(d.num_users); })
        .attr("width", barWidth - 1);

    bar.append("text")
        .attr("x", barWidth / 2)
        .attr("y", function(d) { return y(d.num_users) + 3; })
        .attr("dy", ".75em")
        .text(function(d) { return d.num_users; });*/
    chart.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    chart.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    chart.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.num_spots); })
      .attr("y", function(d) { return y(d.num_users); })
      .attr("height", function(d) { return height - y(d.num_users); })
      .attr("width", x.rangeBand());
  });

  </script>

  {% endblock %}
